<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="'/animations'" routerLinkActive="active">Animations</a></li>
    <li class="breadcrumb-item"><a [routerLink]="'/profile'" routerLinkActive="active">Profile</a></li>
    <li class="breadcrumb-item"><a [routerLink]="'/map'" routerLinkActive="active">Google Map</a></li>
    <li class="breadcrumb-item"><a [routerLink]="'/error404'" routerLinkActive="active">Error 404</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>
