<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">How to add?</div>
        <div class="card-body">
          <h5 class="card-title">
            <span class="badge badge-pill badge-success">gulp</span>
          </h5>
          <h5 class="card-title">
            <span class="badge badge-pill badge-success">gulp-inject</span>
          </h5>
          <h5 class="card-title">
            <span class="badge badge-pill badge-success">gulp-rename</span>
          </h5>
          <h5 class="card-title">
            <span class="badge badge-pill badge-success">gulp-rev</span>
          </h5>
          <h5 class="card-title">
            <span class="badge badge-pill badge-success">gulp-svgmin</span>
          </h5>
          <h5 class="card-title">
            <span class="badge badge-pill badge-success">gulp-svgstore</span>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="card bg-light mb-3" style="max-width: 30rem;">
        <div class="card-header">How to use?</div>
        <div class="card-body">
          <div class="alert alert-secondary" role="alert">
            [attr.xlink:href]="'#icon-[name-of-svg]'"
          </div>
          <svg width="80"
               height="80"
               class="cm-action-icon _square">
            <use [attr.xlink:href]="'#icon-friends'"/>
          </svg>
          <svg width="80"
               height="80"
               class="cm-action-icon _square">
            <use [attr.xlink:href]="'#icon-user-enquirie'"/>
          </svg>
          <svg width="80"
               height="80"
               class="cm-action-icon _square">
            <use [attr.xlink:href]="'#icon-special-star-thin'"/>
          </svg>
          <svg width="80"
               height="80"
               class="cm-action-icon _square">
            <use [attr.xlink:href]="'#icon-nano'"/>
          </svg>
          <svg width="80"
               height="80"
               class="cm-action-icon _square">
            <use [attr.xlink:href]="'#icon-click-and-collect'"/>
          </svg>
        </div>
      </div>

    </div>
  </div>
</div>
